.dropdownContainer {
  select {
    font-size: 1rem;
    background: none;
    color: white;
    border: none;
  }
}

@media (max-width: 800px) {
  .dropdownContainer {
    select {
      margin-left: 10%;
    }
  }
}
