.list {
  padding: 40px;
}

.ul {
  list-style: none;
}

.li {
  display: inline;
  padding: 8px;
  background: white;
  margin: 5px;
  cursor: pointer;
}

.li:hover {
  color: rgb(129, 76, 253);
}

@media (max-width: 800px) {
  .list {
    width: 90%;
    margin: auto;
    overflow-x: scroll;
    margin: 10px;
  }
}
