.infoCard {
  background: linear-gradient(
    to right,
    #232526,
    #414345
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 10px;
  border-radius: 5px;
  width: 400px;
  margin: 1.5%;
  border-bottom: 4px solid #58afd1;
}

.infoHeader {
  display: flex;
  align-items: center;

  img {
    width: 20%;
  }
}

#key {
  font-weight: 700;
  color: rgb(129, 76, 253);
  font-size: 1.1em;
  letter-spacing: 1px;
}
