.launchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  position: relative;
  width: 100%;
  height: 100%;

  h2,
  p {
    text-transform: uppercase;
    color: rgb(242, 243, 249);
    font-size: 1.8rem;
  }

  .astroDiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    animation: mover 1s infinite alternate;
    z-index: -1;
    display: block;
  }

  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  img {
    width: 20%;
  }
}

.flightCard {
  background: rgb(207, 205, 205);
  width: 300px;
  padding: 5%;
  margin: 5%;
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  border-spacing: 10px 5px;
  padding: 1%;
  color: rgb(242, 243, 249);
  width: 630px;
  margin: auto;
  text-align: left;
  width: 100%;
  height: 100%;

  th {
    padding-left: 15px;
    color: rgb(58, 111, 244);
  }

  tr {
    padding-bottom: 10%;

    cursor: pointer;
  }

  tr:hover {
    color: rgb(129, 76, 253);
  }

  td {
    padding: 20px;
    border-bottom: 1px solid white;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .flightNumber {
    color: rgb(129, 76, 253);
  }
}

@media (max-width: 800px) {
  .tableContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;

    .table {
      padding: 2%;
      width: 90%;
      margin: auto;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 25%;
      }
    }
  }

  .launchContainer {
    .astroDiv {
      display: none;
    }
  }
}
