.cardContainer {
  background: white;
  scrollbar-color: white white !important;
}

.card {
  border: 3px rgb(39, 39, 39) solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: rgb(39, 39, 39);
  padding: 5px;
  max-width: 450px;
  text-align: left;
  margin: 0 auto;
  scrollbar-color: light !important;

  img {
    width: 100%;
  }
}

.cardsSlider {
  height: 400px;
  overflow-y: scroll;
  padding: 4%;
}

.cardsSlider::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 100px 100px 100px 100px;
}

.cardsSlider::-webkit-scrollbar-thumb {
  background-color: rgb(129, 76, 253);
}

.modal {
  background-color: rgb(39, 39, 39);
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.lightboxImageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightboxImage {
  max-width: 1400px;
  max-height: 900px;

  overflow: hidden;
}

.buttonContainer {
  width: 100%;
  text-align: right;

  button {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    margin: 1%;
    cursor: pointer;
  }
}

@media (max-width: 850px) {
  #lightboxImage {
    max-width: 400px;
    max-height: 600px;

    overflow: hidden;
  }
}
