.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;

  ul {
    padding-right: 14px;

    position: absolute;
    text-align: right;
    list-style-type: none;
  }

  li {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    float: right;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.active {
  color: rgb(188, 160, 253);
}
